<h1>{{ title }}</h1>
<a href="expenses/add" class="btn btn-info">Add an Expense</a>
<table>
    <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Date</th>
        <th>Amount</th>
    </thead>
    <tbody>
        {{!-- Retrieve all projects and loop --}}
        {{#each dataset}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.date}}</td>
            <td>{{this.amount}}</td>
            {{!-- Update and Delete Button --}}
            <td>
                <a href="expenses/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                <a href="expenses/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>