{{> header }}
<div class="section-padding dashboard">
    <div class="page-header">
        <div>
            <h1>{{ title }}</h1>
            <a href="expenses/add" class="btn btn-info">Add an Expense</a>
        </div>
        <h2>Total Expense: {{ moneyReformat this.totalExpense }}</h2>
    </div>
<table>
    <thead>
        <th>Expense</th>
        <th>Category</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Options</th>
    </thead>
    <tbody>
        {{!-- Retrieve all projects and loop --}}
        {{#each dataset}}
        <tr>
            <td>{{this.expense}}</td>
            <td>{{this.category}}</td>
            <td>{{dateReformat this.date}}</td>
            <td>{{moneyReformat this.amount}}</td>
            <td>{{this.description}}</td>
            {{!-- Update and Delete Button --}}
            <td>
                <a href="expenses/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                <a href="expenses/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>