{{> header }}
<div class="section-padding dashboard">
    <div class="page-header">
        <div>
            <h1>{{ title }}</h1>
            <a href="incomes/add" class="btn btn-info">Add Income</a>
        </div>
        <h2>Total Income: {{ moneyReformat this.totalIncome }}</h2>
    </div>
    <table>
        <thead>
            <th class="column-income-source">Source</th>
            <th class="column-income-date">Date</th>
            <th class="column-income-amount">Amount</th>
            <th class="column-income-description">Description</th>
            <th class="column-income-options">Options</th>
        </thead>
        <tbody>
            {{!-- Retrieve all projects and loop --}}
            {{#each dataset}}
            <tr>
                <td>{{this.source}}</td>
                <td>{{dateReformat this.date}}</td>
                <td>{{moneyReformat this.amount}}</td>
                <td>{{this.description}}</td>
                {{!-- Update and Delete Button --}}
                <td class="button-form-row">
                    <a href="incomes/edit/{{this._id}}" class="button edit-button">Edit</a>
                    <a href="incomes/delete/{{this._id}}" class="button delete-button" onclick="return confirmDeletion()">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
</table>    
</div>