{{> header }}
<div id="landing-banner">
    <h1>Welcome to {{title}}</h1>
    <p>Manage Your Money Better</p>
    <div id="banner-button-container">
        <a class="banner-button button" href="/register">Register</a>
        <a class="banner-button button" href="/login">Already Have an Account?</a>
    </div>
</div>
<div class="section">
    <div class="section-padding">
        <h2>Keep Track of All Your Transactions</h2>
    </div>
    <div class="section-padding sample-chart-container">
        <div>
            <h2>Income</h2>
            <canvas id="sampleIncomeChart" class="sampleBarChart"></canvas>
        </div>
        <div>
            <h2>Expense</h2>
            <canvas id="sampleExpenseChart" class="sampleBarChart"></canvas>
        </div>
        <div id="net-income-section" class="sampleBarChart">
            <p class="sample-text">Your Income: {{ moneyReformat incomeSum }}</p>
            <p class="sample-text">Your Expense: {{ moneyReformat expenseSum }}</p>
            <p class="sample-text">Your Net: {{ moneyReformat net }}</p>
            <p class="sample-text">{{ netMessage }}</p>
        </div>    
    </div>
</div>
<script type="module" src="/js/indexChart.js"></script>